.cell {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.2s ease-in-out;
  user-select: none;
}

.cell:hover {
  box-shadow: 0 0 10px 1px var(--primary-blue, #1d3557);
  border: 1px solid var(--primary-blue, #1d3557);
  user-select: none;
}

.iconCell {
  user-select: none;
}
