.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 120px;
  column-gap: 6px;
  color: #000;
  font-family: "Koh Santepheap";
  font-size: 16px;
  font-weight: 700;
  padding: 0px 5px;
  cursor: pointer;
}

.selected {
  border-bottom: 1px solid var(--primary-blue, #1d3557);
  border-top: 1px solid var(--primary-blue, #1d3557);
  border-radius: 3px;
}

.container:hover {
  border-bottom: 1px solid var(--primary-blue, #1d3557);
  border-top: 1px solid var(--primary-blue, #1d3557);
  border-radius: 3px;
  opacity: 0.8;
}
